
.icon-clock:before { content: '\e800'; } /* '' */
.icon-voip:before { content: '\e801'; } /* '' */
.icon-tag:before { content: '\e802'; } /* '' */
.icon-volume-down:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */